<footer class="bg-dark text-light py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About ITRwala</h5>
                    <p>Your trusted partner for business registration, tax filing, and compliance services in India.</p>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-light">Home</a></li>
                        <li><a href="#" class="text-light">About Us</a></li>
                        <li><a href="#" class="text-light">Contact</a></li>
                        <li><a href="#" class="text-light">Services</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>Email: yashdevi5496@gmail.com<br>
                    Phone: +91 91561 37879<br>
                    Address: Yash Niwas , Shrirampur</p>
                </div>
            </div>
            <div class="text-center mt-3">
                <p class="mb-0">&copy; 2023 ITRwala. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>